<footer class="pt-4 my-md-5 pt-md-5 border-top container">
  <div class="row">
    <div class="col-10 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">How Airbnb works</a></li>
        <li><a class="text-muted" href="#">Investors</a></li>
        <li><a class="text-muted" href="#">Careers</a></li>

      </ul>
    </div>
    <div class="col-10 col-md">
      <h5>Community</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Diversity & Belonging</a></li>
        <li><a class="text-muted" href="#">Airbnb Associates</a></li>
        <li><a class="text-muted" href="#">Guest Refferrals</a></li>
      </ul>
    </div>
    <div class="col-10 col-md">
      <h5>Support</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="#">Our COVID-19 Response</a></li>
        <li><a class="text-muted" href="#">Help Center</a></li>
        <li><a class="text-muted" href="#">Cancellation option</a></li>
        <li><a class="text-muted" href="#">Terms</a></li>
      </ul>
    </div>
  </div>
</footer>