{{> header}}

  <div class="col-md-12 mt-3">
    <div class="col-md-4 mx-auto">
      <div class="card-body">
        <div class="col-md-12">
          <label>Select the City</label>
          <select class="form-control">
            <option value="">Select City</option>
            <option value="Montreal">Montreal</option>
            <option value="Calgary">Calgary</option>
            <option value="Vancouver">Vancouver</option>
            <option value="Toronto">Toronto</option>
          </select>
        </div>
        <div class="col-md-12 mt-2">
          <label>Check-in Date</label>
          <input type="date" class="form-control" />
        </div>
        <div class="col-md-12 mt-2">
          <label>Check-out Date</label>
          <input type="date" class="form-control" />
        </div>
        <div class="col-md-12 mt-2">
          <label>Number of guests</label>
          <input type="number" class="form-control" />
        </div>
        <div class="col-md-12 mt-4 text-right">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
    </div>
    </div>

{{> footer}}