{{> header}}
<style>
  .air-image .card-img-top .product-image{
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-repeat: no-repeat;
  }

  .air-image .card-img-top {
    position: relative;
    padding-top: 75%;
}

</style>

<div class="container" style="padding-top: 8rem;">
  <div class="row">
    {{#each listingData}}
      <div class="col-md-4 d-flex align-items-stretch mb-3 air-image">
        <div class="card d-flex flex-column rounded pointer white w-100">
          <div class="card-img-top">
            <div class="product-image h-100 w-100 rounded-top" style="background-image: url('{{image}}'); background-size: cover;"></div>
          </div>
          <div class="card-body flex-fill d-flex flex-column">
            <p class="mb-0 font-weight-bold">{{title}}</p>
            <p class="mb-0">{{description}}</p>
            <p class="mb-0"><span class="font-weight-bold">${{price}}/night</span></p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

{{> footer}}
